<body class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">EDIT YOUR VEHICLE</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
    <%=form_for @vehicle, :url => user_vehicle_path(current_user, @vehicle)  do |f|%>
    <%=f.hidden_field :user_id%>
    <%=f.hidden_field :mechanic_id%>
    <div>
    <%=f.label :make%>
    <%=f.text_field :make%>
    </div>
    <br>
    <div>
    <%=f.label :model%>
    <%=f.text_field :model%>
    </div>
    <br>
    <div>
    <%=f.label :mileage%>
    <%=f.text_field :mileage%>
    </div>
    <br>
    <div>
    <%=f.label :year%>
    <%=f.text_field :year%>
    </div>
    <br>
    <div>
    <%=f.label :mechanic%>
    <%=f.select :mechanic_id, options_from_collection_for_select(current_user.mechanics.all.uniq, :id, :first_and_last_name)%>
    </div>
    <br>
    <%=f.submit "Update Vehicle"%>
<% end %>
    <br>
    <%unless @vehicle_errors == nil%>
        <%@vehicle_errors.each do |error|%>
        <%if error == "Mechanic must exist"%>
            <h6><li>Mechanic must be selected or created in the form</li></h6>
        <% else %>
            <h6><li>Vehicle's <%=error%></li></h6>
        <% end %>
        <% end %>
    <% end %>
      </ul>
      </div>
      <div>
</div>
      <ul>
    </div>
  </body>




