<%=form_for @vehicle, :url => user_vehicle_path(current_user, @vehicle)  do |f|%>
    <%=f.hidden_field :user_id%>
    <div>
    <%=f.label :make%>
    <%=f.text_field :make%>
    </div>
    <br>
    <div>
    <%=f.label :model%>
    <%=f.text_field :model%>
    </div>
    <br>
    <div>
    <%=f.label :mileage%>
    <%=f.text_field :mileage%>
    </div>
    <br>
    <div>
    <%=f.label :year%>
    <%=f.text_field :year%>
    </div>
    <br>
    <div>
    <%=f.label :mechanic%>
    <%=f.select :mechanic_id, options_from_collection_for_select(current_user.mechanics.all.uniq, :id, :first_and_last_name), :include_blank => true%>
    </div>
    <br>
    <div>
    <ul>
    <h4>Update Mechanic With This Form</h4>
    <%= f.fields_for :mechanic, @mechanic do |mechanic_fields|%>
    <div>
        <%=mechanic_fields.label :first_name%>
        <%=mechanic_fields.text_field :first_name%>
    </div>
    <div>
        <%=mechanic_fields.label :last_name%>
        <%=mechanic_fields.text_field :last_name%>
    </div>
    <div>
        <%=mechanic_fields.label :phone_number%>
        <%=mechanic_fields.text_field :phone_number%>
    </div>
    <div>
        <%=mechanic_fields.label :shop_name%>
        <%=mechanic_fields.text_field :shop_name%>
    </div>
        <% end %>
    </ul>
    </div>
    <br>
    <%=f.submit "Update Vehicle/mechanic"%>
<% end %>