<body class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">NEW VEHICLE FORM</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>

<%=form_for @vehicle, :url => user_vehicles_path(current_user) do |f|%>
    <%=f.hidden_field :user_id%>
    <%=f.label :make%>
    <%=f.text_field :make%>
    <br>
    <%=f.label :model%>
    <%=f.text_field :model%>
    <br>
    <%=f.label :mileage%>
    <%=f.text_field :mileage%>
    <br>
    <%=f.label :year%>
    <%=f.text_field :year%>
    <br>
    <%=f.label :mechanic%>
    <%=f.select :mechanic_id, options_from_collection_for_select(current_user.mechanics.all.uniq, :id, :first_and_last_name), :include_blank => true%>
    <br>
    <div>
    <ul>
    <h4>If your mechanic is not on the list please add them</h4>
    <%= f.fields_for :mechanic, Mechanic.new do |mechanic_fields|%>
    <div>
        <%=mechanic_fields.label :first_name%>
        <%=mechanic_fields.text_field :first_name%>
    </div>
    <div>
        <%=mechanic_fields.label :last_name%>
        <%=mechanic_fields.text_field :last_name%>
    </div>
    <div>
        <%=mechanic_fields.label :phone_number%>
        <%=mechanic_fields.text_field :phone_number%>
    </div>
    <div>
        <%=mechanic_fields.label :shop_name%>
        <%=mechanic_fields.text_field :shop_name%>
    </div>
        <% end %>
    </div>
    </ul>
    <br>
    <%=f.submit%>
<% end %>
<br>
<div>
    <%unless @vehicle_errors == nil%>
        <%@vehicle_errors.each do |error|%>
        <%if error == "Mechanic must exist"%>
            <h6><li>Mechanic must be selected or created in the form</li></h6>
        <% else %>
            <h6><li>Vehicle's <%=error%></li></h6>
        <% end %>
        <% end %>
    <% end %>

     <%unless @mechanic_errors == nil%>
        <%@mechanic_errors.each do |error|%>
            <h6><li>Mechanic's <%=error%></li></h6>
        <% end %>
    <% end %>
</div>
    
      </div>
    </div>
  </body>